@import '_fonts.css';
@import '_variables.css';

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--yellow-light);
  color: #2a2a2a;
  font-family: var(--ff-signika);
  margin: 0;
  padding: 0;
}

nav {
  background-color: var(--blue-light);
  box-shadow: 0 2px 4px 0 var(--blue-medium);
  padding: 1rem;

  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

nav .logo a,
nav .credits a {
  color: var(--blue-dark);
}

main {
  margin: 1rem auto;
  max-width: 52rem;
  padding: 0 1rem;
}

a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  transition: background-size 0.4s;
}

a:hover,
a:focus {
  background-size: 100% 1px;
}

/************************************************/
/* VIEWER */
/************************************************/

main.home {
  margin: 4rem auto;
}

@media screen and (min-width: 480px) {
  main.home {
    margin-top: 8rem;
  }
}

#todo-viewer,
#nice-viewer {
  margin: 1.5rem 0;
}

p.intro,
label {
  color: var(--brown-medium);
  font-size: 1rem;
  font-weight: 300;
  margin: 0.125rem 0;
}

h2 {
  color: var(--brown-dark);
  font-family: var(--ff-script);
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0.25rem;
  padding: 0;
}

@media screen and (min-width: 480px) {
  h2 {
    font-size: 2.8rem;
  }
}

hr {
  border: 1px solid var(--yellow-medium);
}

aside {
  background-color: var(--yellow-medium);
  display: block;
  padding: 1rem;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

aside div.wrapper {
  margin: 0 auto;
  max-width: 52rem;
}

aside a {
  color: var(--blue-medium);
  border-bottom: 1px solid transparent;
  font-size: 1rem;
  padding: 0.5rem 0;
  text-align: right;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: end;
}

aside a svg {
  padding-left: 0.6rem;
  height: 2rem;
  stroke: var(--blue-medium);
}

@media screen and (min-width: 480px) {
  aside a {
    float: right;
    font-size: 1.6rem;
    margin: 0.5rem 1rem;
    padding: 0;
  }

  aside a svg {
    height: 2.5rem;
  }
}

/************************************************/
/* FORM */
/************************************************/

label {
  margin-right: 1rem;
}

.formcontrol {
  margin: 1rem 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

textarea,
input,
select {
  background: var(--yellow-medium);
  border: none;
  border-radius: 10px;
  color: var(--brown-dark);
  font-family: var(--ff-script);
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  resize: none;
  width: 100%;
}

textarea:valid {
  border: 2px solid green;
}

input[type='submit'] {
  color: var(--blue-dark);
  cursor: pointer;
  font-family: var(--ff-signika);
  font-size: 1rem;
  text-align: center;
  transition: background-color 95ms ease-in-out;
}

input[type='submit']:hover,
input[type='submit']:focus {
  background: var(--blue-light);
}

select {
  appearance: none;
}

select + div.icon {
  background: url(./ui/dropdown.svg) no-repeat center center;
  position: absolute;
  height: 2.25rem;
  width: 2.25rem;
  right: 2rem;
  margin-top: -3rem;
}

@media screen and (min-width: 480px) {
  select + div.icon {
    display: none;
  }
}

#status-message.danger {
  color: red;
}

#status-message.success {
  color: green;
}

#status-box {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

#status-box a {
  color: var(--blue-dark);
  text-decoration: none;
}
